.appCard {
    padding: 14px;
    background: var(--card-background);
    box-shadow: 0 2px 4px var(--card-shadow);
    border-radius: 4px;

    .appInfo {
        display: flex;
        align-items: center;

        img {
            align-self: center;
            margin: 0 9px 8px 0;
            max-width: 32px;
            max-height: 32px;
            object-fit: contain;
        }

        .information {
            p {
                cursor: pointer;
                color: var(--card-title);
                font-weight: bold;

                &:hover {
                    text-decoration: underline;
                }
            }

            .rating {
                display: flex;
                align-items: center;

                span {
                    margin-left: 10px;
                    font-size: 14px;
                    color: var(--text-small);
                }
            }
        }

    }

    .appContent {
        margin-top: 10px;

        .description {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.35 !important;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--card-content);
        }
    }
}