.subMenu {
    display: flex;
    flex-direction: column;
    width: 321px;
    background: var(--submenu-background);

    .subMenuHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 18px 20px;
        border-bottom: 1px solid var(--submenu-header);

        .subMenuTitle {
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 20px;
            color: var(--submenu-title);
        }

        .subMenuAction {
            display: flex;
            align-items: center;

            svg {
                cursor: pointer;
                height: 22px;
                width: 22px;
                color: var(--submenu-icon);
            }
        }

        .searchInput {
            width: 100%;
            background: none !important;
            border: none;
            height: 100%;
            color: var(--search-input-color);
            font-weight: 700;
            font-size: 18px;

            &::placeholder {
                font-weight: 400;
                letter-spacing: 1px;
            }
        }

        .closeSearch {
            color: var(--search-close-icon-color);
            cursor: pointer;
            padding: 8px 10px;
            border-radius: 50px;

            &:hover {
                background: var(--search-close-icon-hover-color);
            }
        }
    }


    .subMenuContent {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: auto;

        .subMenuDescriptionHeader {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 8px;
            padding: 5px 14px;
            border-radius: 3px;
            background: var(--submenu-description-header);

            svg {
                margin-right: 9px;
            }

            span {
                color: var(--submenu-description-title);
                font-weight: 700;
            }
        }

        .subMenuContainer {
            display: flex;
            flex: 1;
            flex-direction: column;

            .links {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                padding: 6px 48px;
                flex: 1;

                .linkHeader {
                    margin: 4px 0;

                    span {
                        color: var(--submenu-link-header);
                        font-size: 14px;
                        font-weight: bold;
                    }
                }

                .subMenuLink {
                    margin: 4px 0;

                    span {
                        color: var(--submenu-link);
                        font-size: 14px;
                    }
                }
            }

            .otherLinks {
                display: flex;
                flex-direction: column;
                border-top: 1px solid var(--submenu-header);

                span {
                    color: var(--other-links);
                    margin: 5px;
                }
            }
        }
    }

}