.layout {
    display: flex;
    flex: 1;
    flex-direction: column;

    .menuAndContent {
        flex: 1;
        display: flex;
        flex-direction: row;

        .content {
            padding: 22px;
            flex: 1;
            background: var(--neutral-50);
        }
    }
}



