.titleBar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 111;
    background: purple;
    height: 48px;
    background: var(--brand);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    color: white;
    overflow: hidden;

    .appTitle {
        justify-self: start;
        margin-left: 50px;
        font-weight: bold;
        font-size: 22px
    }

    .search {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .navigations {
        display: flex;

        svg {
            margin: 0 4px;
            font-size: 18px;
            color: var(--gray);
            cursor: pointer;
            transition: 300ms color;

            &:hover {
                color: var(--white);
            }

            &.active {
                color: var(--white);
            }
        }
    }
}

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-right: 75px;

    .iconButton {
        .ms-Button {
            background: blue !important;
        }
        .root-77 {
            background: none !important;
        }
        background: transparent !important;
        button {
            background: none !important;
        }
    }
}

