.container {
   display: flex;
   flex-direction: column;
   background: var(--modal-background);
   padding: 30px;

   .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .modalTitle {
         color: var(--modal-title-color)
      }

      .closeIcon {
         justify-self: flex-end;
         color: var(--modal-close-icon-color);
         &:hover {
            background: var(--modal-close-icon-hover-background)
         }
      }
   }

   .body {
      /* \_(^_^)_/ */
   }
}

.min50 {
   min-width: 50%;
}

.min60 {
   min-width: 60%;
}

.min70 {
   min-width: 70%;
}

.min80 {
   min-width: 80%;
}

