.content {

    .header {
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .contentTitle {
            h3 {
                font-weight: 600;
                font-size: 16px;
            }
        }

        .contentAction {
            font-weight: 600;
            color: var(--brand-800);
            font-size: 16px;
        }
    }

    .appList {
        display: grid;
        grid-template-columns:  repeat(auto-fill, minmax(368px, 1fr));;
        grid-gap: 16px;
        margin-top: 16px;
    }
}