html,
body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Segoe UI", serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus, *:active {
    outline: none !important;
}

#__next {
    flex: 1;
    height: inherit;
    display: flex;
    flex-direction: column;
}

p, span {
    line-height: 1.15;
}

.carousel .control-dots {
  background: transparent !important;
}

.carousel .control-dots:focus {
    outline: none !important;
}

.ms-SearchBox {
    width: 100% !important;
    border-radius: 4px;
    border:none;
    position: relative;
    background: var(--searchbox-background);


    &:after {
        border: none;
        outline: none;
    }
}

.ms-RatingStar-front {
    color: var(--rating-star-front-color);
}

.ms-RatingStar-back {
    color: var(--rating-star-back-color);
}

::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border: 0 none transparent;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-active-color);
}
::-webkit-scrollbar-thumb:active {
    background: var(--scrollbar-active-color);
}
::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
    border: 0 none transparent;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: #fff;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
