:root {
    /* renamed colors */
    --card-background: #FFFFFF;
    --card-shadow: rgba(0, 0, 0, 0.1);
    --text-small: #949494;
    --card-content: #3D3D3D;
    --card-title: #1F1F1F;
    --content-background: #F5F5F5;

    --loader-background: #F0F0F0;

    --menu-background: #EBEBEB;
    --menu-item: #616161;
    --menu-item-hover: #464775;

    --submenu-background: #F0F0F0;
    --submenu-header: #E0E0E0;
    --submenu-title: #242424;
    --submenu-icon: #616161;
    --submenu-description-header: #fff;
    --submenu-description-title: #242424;
    --submenu-link-header: #333333;
    --submenu-link: #292929;
    --other-links: #464775;

    --titlebar-background: #464775;
    --titlebar-navigation: #616161;
    --titlebar-navigation-hover: #FFFFFF;
    --titlebar-navigation-active: #FFFFFF;

    --searchbox-background: #E0E0E0;

    --rating-star-front-color: #464775;
    --rating-star-back-color: #ddd;

    --scrollbar-color: #323348;
    --scrollbar-active-color: #9EA2FF;
    --scrollbar-track-color: #FAFAFA;

    --search-close-icon-color: #0F0F0F;
    --search-close-icon-hover-color: #E0E0E0;
    --search-input-color: #0F0F0F;

    --modal-background: #f5f5f5;
    --modal-title-color: #292929;
    --modal-close-icon-color: #808080;
    --modal-close-icon-hover-background: #E0E0E0;

    --app-content-title: #333333;
    --app-content-action-title: #464775;

    --filter-component-color: #616161;
    --listing-style-button-background: #FFFFFF;
    --listing-style-button-hover: #464775;
    --listing-style-button-border: #E0E0E0;

    --app-detail-modal-app-name-color: #1F1F1F;
    --app-detail-modal-app-category-color: #1F1F1F;
    --app-detail-modal-about-header: #1F1F1F;
    --app-detail-modal-menu-item-color: #424242;
    --app-detail-modal-bottom-privacy-policy-text: #464775;
    --app-detail-modal-description-header: #1F1F1F;
    --app-detail-modal-description: #1F1F1F;

    --chart-card-background: #FAFAFA;
    --chart-card-filter-color: #1F1F1F;
    --chart-card-filter-active-color: #464775;
    --chart-card-label-color: #1F1F1F;
    --chart-data-label-color: #1F1F1F;
    --chart-value-color: #1F1F1F;

    --chart-area-xaxis-color: #292929;
    --chart-area-yaxis-color: #292929;

    --chart-number-color: #292929;
    --chart-number-label-color: #292929;


    --empty-header-color: #1F1F1F;
    --empty-description-color: #1F1F1F;

}

.dark:root {
    --card-background: #333333;
    --card-shadow: rgba(255, 255, 255, 0.1);
    --text-small: #E0E0E0;
    --card-content: #E0E0E0;
    --card-title: #f5f5f5;
    --content-background: #252423;

    --loader-background: #292929;

    --menu-background: #333333;
    --menu-item: #E0E0E0;
    --menu-item-hover: #9EA2FF;

    --submenu-background: #292929;
    --submenu-header: #FAFAFA;
    --submenu-title: #E0E0E0;
    --submenu-icon: #fff;
    --submenu-description-header: #8A8A8A;
    --submenu-description-title: #0F0F0F;
    --submenu-link-header: #C7C7C7;
    --submenu-link: #E0E0E0;
    --other-links: #9EA2FF;

    --titlebar-background: #3D3E66;
    --titlebar-navigation: #616161;
    --titlebar-navigation-hover: #FFFFFF;
    --titlebar-navigation-active: #FFFFFF;

    --searchbox-background: #E0E0E0;

    --rating-star-front-color: #464775;
    --rating-star-back-color: #424242;

    --scrollbar-color: #DBDCF0;
    --scrollbar-active-color: #9EA2FF;
    --scrollbar-track-color: #FAFAFA;

    --search-close-icon-color: #FAFAFA;
    --search-input-color: #FAFAFA;
    --search-close-icon-hover-color: #3D3D3D;

    --modal-background: #1F1F1F;
    --modal-title-color: #C7C7C7;
    --modal-close-icon-color: #808080;
    --modal-close-icon-hover-background: #3D3D3D;

    --app-content-title: #8A8A8A;
    --app-content-action-title: #9EA2FF;

    --filter-component-color: #F0F0F0;
    --listing-style-button-background: #3D3D3D;
    --listing-style-button-hover: #9EA2FF;
    --listing-style-button-border: #616161;

    --app-detail-modal-app-name-color: #F0F0F0;
    --app-detail-modal-app-category-color: #E0E0E0;
    --app-detail-modal-about-header: #F0F0F0;
    --app-detail-modal-menu-item-color: #C7C7C7;
    --app-detail-modal-bottom-privacy-policy-text: #9EA2FF;
    --app-detail-modal-description-header: #F0F0F0;
    --app-detail-modal-description: #E0E0E0;

    --chart-card-background: #1F1F1F;
    --chart-card-filter-color: #f5f5f5;
    --chart-card-filter-active-color: #9EA2FF;
    --chart-card-label-color: #f5f5f5;
    --chart-data-label-color: #F0F0F0;
    --chart-value-color: #F0F0F0;

    --chart-area-xaxis-color: #EBEBEB;
    --chart-area-yaxis-color: #EBEBEB;

    --chart-number-color: #EBEBEB;
    --chart-number-label-color: #EBEBEB;

    --empty-header-color: #FAFAFA;
    --empty-description-color: #FAFAFA;
}
